/* -----------------------
variables
----------------------- */
:root {
  --color-white: #ffffff;
  --color-black: #010101;
}

/* -----------------------
normalise margins
----------------------- */
/*
  remove top margins so all elements
  align properly when in grids
*/

*,
*::before,
*::after {
  margin-top: 0;
}

/* -----------------------
html
----------------------- */

html {
  font: 400 100%/1.5 "Roboto", "Helvetica", "Arial", system-ui;
}

/* -----------------------
body
----------------------- */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-black);
}

/* -----------------------
pagesection
----------------------- */

.c-section {
  padding-top: calc(24 / 16 * 1rem);
  padding-bottom: calc(24 / 16 * 1rem);
}

@media all and (min-width: 750px) {
  .c-section {
    padding-top: calc(36 / 16 * 1rem);
    padding-bottom: calc(36 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .c-section {
    padding-top: calc(48 / 16 * 1rem);
    padding-bottom: calc(48 / 16 * 1rem);
  }
}

/* -----------------------
container
----------------------- */

.c-container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: calc(24 / 16 * 1rem);
  padding-right: calc(24 / 16 * 1rem);
}

/* -----------------------
fluid images
----------------------- */

.o-fluidimg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* -----------------------
grid framework
----------------------- */

.l-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: calc(30 / 16 * 1rem);
}

.l-grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.l-grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.l-grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

@media all and (min-width: 500px) {
  .l-grid--2cols\@small {
    grid-template-columns: repeat(2, 1fr);
  }

  .l-grid--3cols\@small {
    grid-template-columns: repeat(3, 1fr);
  }

  .l-grid--4cols\@small {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (min-width: 750px) {
  .l-grid--2cols\@medium {
    grid-template-columns: repeat(2, 1fr);
  }

  .l-grid--3cols\@medium {
    grid-template-columns: repeat(3, 1fr);
  }

  .l-grid--4cols\@medium {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .l-grid--2cols\@large {
    grid-template-columns: repeat(2, 1fr);
  }

  .l-grid--3cols\@large {
    grid-template-columns: repeat(3, 1fr);
  }

  .l-grid--4cols\@large {
    grid-template-columns: repeat(4, 1fr);
  }
}
