{# activeNav vaut "" par default #}
{% set activeNav = activeNav|default("") %}

<header>
  <nav>
    <ul>
      <li><a {% if activeNav == "home" %}class="is-active"{% endif %} href="/">Home</a></li>
      <li><a {% if activeNav == "love" %}class="is-active"{% endif %} href="#">Love</a></li>
      <li><a {% if activeNav == "work" %}class="is-active"{% endif %}href="#">Work</a></li>
      <li><a {% if activeNav == "casa" %}class="is-active"{% endif %}href="#">Casa</a></li>
    </ul>
  </nav>
</header>