{# activeNav vaut "" par default #}
{% set activeNav = activeNav|default("") %}

<header>
  <nav>

    {% set navitems = craft.entries()
      .section("mainnav")
      .all() %}

    {% for item in navitems %}
      {% if loop.first %}<ul>{% endif %}

        <li>
          {% set navEntry = item.mainnavEntry.one() %}
          {% set navUrl = navEntry.url %}

          <a href="{{ navUrl }}">{{ item.mainnavLabel }}</a>
        </li>

      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

  </nav>
</header>