{% extends "_layouts/base.twig" %}

{% block content %}

  <h1>Blog</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam soluta magnam, laboriosam obcaecati sequi illum vitae pariatur nesciunt delectus numquam cum iure, earum, dignissimos minus ab! Saepe odio fugit libero.</p>

{% endblock %}