{# template extended #}
{% extends "_layouts/base.twig" %}

{% set activeNav = "home" %}

{% block content %}

  {#
    - une route de single pointe vers ce template
    - Craft va automatiquement mettre à notre disposition une variable "entry" que l'on peut utiliser
  #}
  <div class="c-section">
    <div class="c-container">

      <h1>{{ entry.commonTitle }}</h1>
      <p>{{ entry.commonIntro }}</p>

    </div>
  </div>

  {# 3 derniers blogposts #}
  <div class="c-section">
    <div class="c-container">

      {% set lastBlogposts = craft.entries()
        .section("blog")
        .orderBy("postDate DESC")
        .limit(3)
        .all() %}

      {% for post in lastBlogposts %}
        {% if loop.first %}<ul class="l-grid  l-grid--3cols@medium">{% endif %}
          <li>

            {% include "_components/blogcard.twig" with {
              title: post.title,
              url: post.url,
              asset: post.blogImage.one(),
              date: post.postDate
            } only %}

          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

    </div>
  </div>

{% endblock %}